/* SearchBar styles  */
.body{
  background: #fdfdfd;  /* fallback for old browsers */
}
.Rwrapper {
  background-color: gray;
  display: flex;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  
}
.Rnested_components {
  flex: 1;
  height: 45px;
  margin: 8px;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.532);
  border: none;

}

/* JoB card Styles */
.RJobCard_wrapper {
  border: 1px solid #b8b8ba;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 25px;
  color: rgb(0, 0, 0);
}
.RJobCard_wrapper:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4d64e4;
}

.RcompanyName {
  font-size: 13.5px;
  background-color: #1766d5;
  padding: 6px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
}
.RskillChip {
  margin: 20px;
  padding: 6px;
  font-size: 14.5px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #0a0a2a;
  color: #080808;
}

/* NewJobModal css */
.RSkills {
  margin: 5px;
  padding: 6px;
  font-size: 14.5px;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #717174;
  color: #070707;
  cursor: pointer;
}
.RSkills:hover {
  background-color: #09090a;
  color: #fff;
}
.RSkills:active {
  background-color: #09090a;
  color: #fff;
}

/*ViewJobModal*/
.Rinfo {
  margin: "5px";
}
/* Navbar styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.Rheader_container {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  top: 5%;
  bottom: 5%;
}
.btnnn{
  font-size: 14px;
  padding:10px;
 width: 150px;
 border:1px solid black;
 color:black;
}
.Rheader_NavMenu {
  display: flex;
}
.Rheader_NavMenu_NavLink {
  color: #f6f4e6;
  margin-top: 1%;
  padding-left: 6%;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.Rheader_NavMenu_NavLink:hover {
  color: #3a78fd;
}
.Rheader_background {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQebguK2cAgGFsrOdh9V1e7Z3nLxXQxhf3amw&usqp=CAU");
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
/* SearchBar styles  */
.wrapper {
  background-color: #fff;
  display: flex;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.nested_components {
  flex: 1;
  height: 45px;
  margin: 8px;
  border-radius: 10px;
  background-color: lightgray;
  border: none;
}

/* JoB card Styles */
.JobCard_wrapper {
  border: 1px solid #b8b8ba;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 25px;
  
}
.JobCard_wrapper:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4d64e4;
}

.companyName {
  font-size: 13.5px;
  background-color: #18e1d9;
  padding: 6px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
  
}
.skillChip {
  margin: 20px;
  padding: 6px;
  font-size: 14.5px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #09090a;
  color: #fff;
}

/* NewJobModal css */
.Skills {
  margin: 5px;
  padding: 6px;
  font-size: 14.5px;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid #717174;
  color: #717174;
  cursor: pointer;
}
.Skills:hover {
  background-color: #09090a;
  color: #fff;
}
.Skills:active {
  background-color: #09090a;
  color: #fff;
}

/*ViewJobModal*/
.info {
  margin: "5px";
}
/* Navbar styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.header_container {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  top: 5%;
  bottom: 5%;
}
.header_NavMenu {
  display: flex;
}
.header_NavMenu_NavLink {
  color: #030303;
  margin-top: 1%;
  padding-left: 12%;

  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.header_NavMenu_NavLink:hover {
  color: #3a78fd;
}
.header_background {
  background-image: url("../../../Resources/img/header1.jpg");
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.name{
  color: rgb(1, 1, 1);
}
.flexbox{
  display: flex;
  gap: 10px;
}